---
layout: layouts/base.njk
title: Home
description: "A collection of free browser-based mini games. No login required. Play instantly."
---

{% include "partials/hero.njk" %} {% include "partials/games-list.njk" %} {% include "partials/features.njk" %}
